<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://vorba1.documents.azure.com:443/" />
    <add key="PrimaryKey" value="JOYDo9MzZLP9wPxwcCs92d07BwHwWqTe65Yev4whVBobyTs4yZUcqnKNk28qkFDLL7dUwGWJq2PDACDb2b3VXQ==" />
  </appSettings>
</configuration>